version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-blockchain_db}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-blockchain_db}
      RPC_URL: ${RPC_URL:-https://eth-mainnet.g.alchemy.com/v2/G09aLwdbZ-zyer6rwNMGu}
      BATCH_SIZE: ${BATCH_SIZE:-10}
      PYTHONPATH: /app/src:/app
    command: python src/main_etl.py

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-blockchain_db}
      RPC_URL: ${RPC_URL:-https://eth-mainnet.g.alchemy.com/v2/G09aLwdbZ-zyer6rwNMGu}
      BATCH_SIZE: ${BATCH_SIZE:-10}
      ETL_SCHEDULE_HOUR: ${ETL_SCHEDULE_HOUR:-0}
      ETL_SCHEDULE_MINUTE: ${ETL_SCHEDULE_MINUTE:-0}
      PYTHONPATH: /app/src:/app
    command: python src/scheduler.py
    restart: unless-stopped

volumes:
  postgres_data: