web3==6.15.1
psycopg2-binary==2.9.9
hexbytes==0.3.1
psutil==5.9.8
python-dotenv==1.0.0
pandas==2.2.0
sqlalchemy==2.0.23
apscheduler==3.10.4
scikit-learn==1.3.2
requests==2.31.0
flask==3.0.0
flask-cors==4.0.0
